.idea/*
*/.idea/*

build/*
*/build/*

__pycache__/*

loginfo/*
loginfo

*.pth.tar  
*.pth
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.webp
*.pkl

*.trk
*.trk.gz
wandb/*
wandb

*.log
*.log.*

data_sample/
environment/
data/
runs/

snapshots/*
snapshots

/med/TractoDiff/data/*
/med/TractoDiff/data
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*tiff


/med/TractoDiff/visualizations
ang@172.18.43.23
