# Data files
data/**/*.hdf5
data/**/*.nii.gz
data/**/*.nii

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

*.pth.tar  
*.pth
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.webp
*.pkl

wandb/*
wandb

*.log
*.log.*

data_sample/
environment/
data/

snapshots/*
snapshots

/tracto/TractoDiff/data/*
/tracto/TractoDiff/data
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*tiff