.idea/*
*/.idea/*

build/*
*/build/*

__pycache__/*
./__pycache__/*

vg.egg-info/*


./results/*
results/*

libs/*
./libs/*

gpu_logs/*
./gpu_logs/*

/med/TractoDiff/gpu_logs/*
/med/TractoDiff/results/*
/med/TractoDiff/libs/*
/med/TractoDiff/build/*
/med/TractoDiff/vg.egg-info/*
/med/TractoDiff/__pycache__/*

/med/TractoDiff/environment

output_generated/*
output_dir/*
/med/TractoDiff/output
/med/TractoDiff/output_dir
/med/TractoDiff/output_dir_1

/med/TractoDiff/data

/med/TractoDiff/visualizations

/med/TractoDiff/images
*.png
*.pth
*.pth.tar
*.pkl